BASE_URL= 
API_BASE_URL=

NUXT_PUBLIC_PUSHER_APP_ID=
NUXT_PUBLIC_PUSHER_APP_KEY=
NUXT_PUBLIC_PUSHER_APP_SECRET=
NUXT_PUBLIC_PUSHER_HOST=
NUXT_PUBLIC_PUSHER_PORT=
NUXT_PUBLIC_PUSHER_SCHEME=
NUXT_PUBLIC_PUSHER_APP_CLUSTER=

